.about {
  padding-bottom: 100px;
  background: url("../img/about__bg.jpg") 50% 40px no-repeat; }
  .about__content {
    width: 1010px;
    margin-left: 128px;
    background: rgba(245, 247, 249, 0.87);
    padding: 10px 25px 25px 25px; }
    .about__content h1 {
      text-transform: uppercase;
      margin-bottom: 10px; }

/*# sourceMappingURL=about.css.map */
