.catRow {
  width: 100%;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.cat {
  width: 390px;
  padding-top: 65px; }
  .cat__box {
    color: #f5f7f9;
    display: block;
    text-decoration: none;
    background-color: #f5f7f9;
    border: 1px solid rgba(65, 74, 82, 0.38); }
    .cat__box:hover {
      text-decoration: navajowhite; }
      .cat__box:hover .cat__title {
        color: #ffb741; }
  .cat__image {
    display: block;
    margin-top: -60px;
    margin-bottom: 20px; }
  .cat__title {
    color: #f5f7f9;
    font-size: 48px;
    font-weight: 400;
    line-height: 49px;
    padding: 3px 10px 5px 10px;
    background: #414a52 url("../img/cat_heading.png") 100% 0 no-repeat;
    text-transform: uppercase; }
  .cat__content {
    padding: 10px; }
    .cat__content ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .cat__content ul li a {
        color: #414a52;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 16px;
        position: relative;
        display: inline-block;
        text-decoration: none; }
        .cat__content ul li a:before {
          left: 0;
          top: 9px;
          width: 6px;
          height: 6px;
          content: '';
          position: absolute;
          background: #414a52;
          display: inline-block;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
        .cat__content ul li a:hover {
          color: #dd9217; }
          .cat__content ul li a:hover:before {
            background: #dd9217; }

.nav {
  margin-bottom: 12px;
  border: 1px solid rgba(65, 74, 82, 0.38); }
  .nav__title {
    color: #f5f7f9;
    font-size: 36px;
    font-weight: 400;
    line-height: 37px;
    position: relative;
    padding: 12px 10px;
    text-transform: uppercase;
    background: #414a52 url("../img/headind_pattern.png") 100% 0 no-repeat; }
  .nav__image {
    right: 5px;
    bottom: 5px;
    z-index: 20;
    width: 138px;
    height: 84px;
    position: absolute; }
  .nav__content {
    padding: 15px 10px; }
    .nav__content ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .nav__content ul li a {
        color: #414a52;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 16px;
        position: relative;
        display: inline-block;
        text-decoration: none; }
        .nav__content ul li a:before {
          left: 0;
          top: 9px;
          width: 6px;
          height: 6px;
          content: '';
          position: absolute;
          background: #414a52;
          display: inline-block;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
        .nav__content ul li a:hover {
          color: #dd9217; }
          .nav__content ul li a:hover:before {
            background: #dd9217; }
  .nav__elem {
    padding: 0 15px; }
    .nav__elem ul {
      display: none; }
    .nav__elem.open {
      margin-bottom: 20px; }
      .nav__elem.open .nav__cat:before {
        opacity: 0;
        visibility: hidden; }
      .nav__elem.open .nav__cat:after {
        opacity: 1;
        visibility: visible;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
  .nav__cat {
    color: #414a52;
    font-size: 18px;
    font-weight: 400;
    padding-left: 15px;
    line-height: 24px;
    margin-left: -15px;
    position: relative;
    display: inline-block;
    text-decoration: none; }
    .nav__cat:before {
      left: -2px;
      top: 6px;
      z-index: 1;
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      display: inline-block;
      background: url("../img/catalog/filter__arrow_gray.png") 50% 50% no-repeat; }
    .nav__cat:after {
      left: -2px;
      top: 6px;
      z-index: 1;
      content: '';
      width: 12px;
      height: 12px;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      display: inline-block;
      background: url("../img/catalog/filter_arrow_yellow.png") 50% 50% no-repeat;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .nav__cat:hover {
      color: #d98700; }
      .nav__cat:hover:before {
        opacity: 0;
        visibility: hidden; }
      .nav__cat:hover:after {
        opacity: 1;
        visibility: visible; }

.showcase {
  margin: 0 -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .showcase__elem {
    float: left;
    width: 33.33%;
    padding: 0 5px;
    margin-bottom: 29px; }

.item {
  padding: 10px;
  background: #fff;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid rgba(65, 74, 82, 0.38); }
  .item__image {
    outline: none;
    width: 200px;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .item__image img {
      margin: auto;
      display: inline-block; }
  .item__price {
    height: 30px;
    color: #515359;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .item__name {
    color: #515359;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px; }
    .item__name a {
      color: #515359;
      text-decoration: none; }
      .item__name a:hover {
        color: #dca30d; }
  .item__purchase {
    text-align: center;
    margin-bottom: -30px; }
  .item .btn-yellow {
    width: 202px; }

/*# sourceMappingURL=catalog.css.map */
