.mainSlider {
  margin-top: -37px;
  position: relative; }
  .mainSlider:before {
    top: 0;
    left: 50%;
    z-index: 10;
    content: '';
    width: 849px;
    height: 384px;
    position: absolute;
    margin-left: -840px;
    display: inline-block;
    background: url("../img/slider__shadow_lg.png") 0 0 no-repeat; }
  .mainSlider__item {
    z-index: 1;
    border: none;
    outline: none;
    position: relative; }
  .mainSlider__content {
    left: 0;
    right: 0;
    z-index: 10;
    bottom: 65px;
    position: absolute; }
  .mainSlider__text {
    color: #f9bb11;
    max-width: 750px;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.98); }
  .mainSlider .slide-nav {
    top: 50%;
    z-index: 30;
    width: 93px;
    height: 166px;
    cursor: pointer;
    position: absolute;
    margin-top: -95px;
    display: inline-block;
    background: url("../img/slider__arrow.png") 50% 50% no-repeat; }
    .mainSlider .slide-nav.prev {
      left: 50%;
      margin-left: -600px; }
    .mainSlider .slide-nav.next {
      right: 50%;
      margin-right: -600px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .mainSlider .slick-dots {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    padding: 12px 0;
    height: 36px;
    opacity: 0.58;
    font-size: 0;
    line-height: 0;
    background: #1c2025;
    text-align: center;
    position: absolute; }
    .mainSlider .slick-dots li {
      padding: 0 4px;
      display: inline-block; }
      .mainSlider .slick-dots li button {
        margin: 0;
        padding: 0;
        width: 12px;
        height: 12px;
        opacity: 0.52;
        border: none;
        outline: none;
        font-size: 0;
        line-height: 0;
        background: #fff;
        cursor: pointer;
        display: inline-block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      .mainSlider .slick-dots li.slick-active button {
        opacity: 1;
        background: #fbba00; }

.advantage-block {
  padding-top: 90px;
  overflow-x: hidden;
  overflow-y: inherit; }
  .advantage-block .h2 {
    margin-bottom: 55px; }

.advantage {
  width: 100%;
  color: #999999;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  background: #e3e7ec;
  margin-bottom: 40px;
  position: relative; }
  .advantage:before {
    left: 0;
    right: 0;
    top: 100%;
    content: '';
    height: 40px;
    display: block;
    position: absolute;
    background: url("../img/box_shadow.png") 50% -3px no-repeat; }
  .advantage ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
    .advantage ul:before {
      bottom: 40px;
      left: -395px;
      z-index: 10;
      content: '';
      width: 435px;
      height: 399px;
      position: absolute;
      background: url("../img/homepage/img__oil.png") 0 0 no-repeat; }
  .advantage li {
    padding: 180px 10px 30px 10px; }
    .advantage li:nth-child(1) {
      width: 150px;
      background: url("../img/homepage/adv__icon_01.png") 50% 30px no-repeat; }
    .advantage li:nth-child(2) {
      width: 250px;
      background: url("../img/homepage/adv__icon_02.png") 50% 30px no-repeat; }
    .advantage li:nth-child(3) {
      width: 160px;
      background: url("../img/homepage/adv__icon_03.png") 50% 30px no-repeat; }
    .advantage li:nth-child(4) {
      width: 210px;
      background: url("../img/homepage/adv__icon_04.png") 50% 30px no-repeat; }
    .advantage li:nth-child(5) {
      width: 220px;
      background: url("../img/homepage/adv__icon_05.png") 50% 30px no-repeat; }
  .advantage__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .advantage p {
    font-weight: 400;
    margin-bottom: 0; }

.main-content {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f7f9 url("../img/home__bg.jpg") 50% 15px no-repeat; }

.products {
  margin-bottom: 20px;
  position: relative; }
  .products__nav {
    padding: 0;
    list-style: none;
    margin: 0 0 35px 0; }
    .products__nav:before, .products__nav:after {
      content: " ";
      display: table; }
    .products__nav:after {
      clear: both; }
    .products__nav li {
      float: left;
      margin-right: 1px;
      position: relative; }
      .products__nav li:before {
        left: 0;
        bottom: 0;
        content: '';
        width: 100%;
        height: 5px;
        display: block;
        position: absolute;
        background: #bfc7ce; }
      .products__nav li a {
        width: 202px;
        height: 43px;
        padding: 4px;
        color: #515359;
        font-size: 30px;
        font-weight: 400;
        line-height: 29px;
        text-align: center;
        position: relative;
        display: inline-block;
        text-decoration: none;
        background: transparent;
        text-transform: uppercase;
        border: 3px solid transparent; }
        .products__nav li a:before {
          z-index: 1;
          top: 3px;
          left: 3px;
          right: 3px;
          bottom: 3px;
          content: '';
          opacity: 0;
          visibility: hidden;
          position: absolute;
          display: inline-block;
          background: url("../img/btn__gradient.png") 100% 0 no-repeat; }
        .products__nav li a:after {
          z-index: 2;
          top: 3px;
          left: 3px;
          bottom: 3px;
          content: '';
          opacity: 0;
          width: 60px;
          visibility: hidden;
          position: absolute;
          display: inline-block;
          background: url("../img/btn__gradient_left.png") 100% 0 no-repeat; }
        .products__nav li a:hover {
          color: #3c3d42; }
        .products__nav li a span {
          z-index: 5;
          position: relative; }
      .products__nav li:hover:before {
        background: #f6b600; }
      .products__nav li.active a {
        color: #3c3d42;
        border-color: #f6b600;
        background-color: #f6b600; }
        .products__nav li.active a:after, .products__nav li.active a:before {
          opacity: 1;
          visibility: visible; }
  .products__slider {
    margin: 0 -8px;
    position: relative; }
    .products__slider_item {
      border: none;
      outline: none;
      margin: 0 8px; }
  .products__body {
    height: 340px;
    position: relative; }
  .products__item {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    position: absolute; }
  .products .goods {
    margin: 0 0 25px 0; }
  .products .slide-nav {
    top: 50%;
    z-index: 30;
    width: 77px;
    height: 148px;
    cursor: pointer;
    position: absolute;
    margin-top: -90px;
    display: inline-block;
    background: url("../img/slider__arrow_no_shadow.png") 50% 50% no-repeat; }
    .products .slide-nav.prev {
      left: -83px; }
    .products .slide-nav.next {
      right: -83px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.partners {
  padding-top: 40px;
  padding-bottom: 50px; }

.partnerSlider {
  position: relative; }
  .partnerSlider__item {
    text-align: center; }
    .partnerSlider__item img {
      display: inline-block !important; }
  .partnerSlider .slide-nav {
    top: 50%;
    z-index: 30;
    width: 17px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    margin-top: -13px;
    display: inline-block;
    background: url("../img/slider__arrow_sm.png") 50% 50% no-repeat; }
    .partnerSlider .slide-nav.prev {
      left: -30px; }
    .partnerSlider .slide-nav.next {
      right: -30px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

/*# sourceMappingURL=homepage.css.map */
