@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/akrobat/Akrobat-Regular.eot");
  src: local("Akrobat Regular"), local("Akrobat-Regular"), url("../fonts/akrobat/Akrobat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-Regular.woff") format("woff"), url("../fonts/akrobat/Akrobat-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/akrobat/Akrobat-ExtraLight.eot");
  src: local("Akrobat ExtraLight"), local("Akrobat-ExtraLight"), url("../fonts/akrobat/Akrobat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-ExtraLight.woff") format("woff"), url("../fonts/akrobat/Akrobat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/akrobat/Akrobat-SemiBold.eot");
  src: local("Akrobat SemiBold"), local("Akrobat-SemiBold"), url("../fonts/akrobat/Akrobat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-SemiBold.woff") format("woff"), url("../fonts/akrobat/Akrobat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/akrobat/Akrobat-Light.eot");
  src: local("Akrobat Light"), local("Akrobat-Light"), url("../fonts/akrobat/Akrobat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-Light.woff") format("woff"), url("../fonts/akrobat/Akrobat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/akrobat/Akrobat-Black.eot");
  src: local("Akrobat Black"), local("Akrobat-Black"), url("../fonts/akrobat/Akrobat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-Black.woff") format("woff"), url("../fonts/akrobat/Akrobat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/akrobat/Akrobat-Bold.eot");
  src: local("Akrobat Bold"), local("Akrobat-Bold"), url("../fonts/akrobat/Akrobat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-Bold.woff") format("woff"), url("../fonts/akrobat/Akrobat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/akrobat/Akrobat-Thin.eot");
  src: local("Akrobat Thin"), local("Akrobat-Thin"), url("../fonts/akrobat/Akrobat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-Thin.woff") format("woff"), url("../fonts/akrobat/Akrobat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/akrobat/Akrobat-ExtraBold.eot");
  src: local("Akrobat ExtraBold"), local("Akrobat-ExtraBold"), url("../fonts/akrobat/Akrobat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/akrobat/Akrobat-ExtraBold.woff") format("woff"), url("../fonts/akrobat/Akrobat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.img-fluid {
  max-width: 100%;
  height: auto; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.breadcrumb {
  padding: 5px 0;
  background: #bec4ca;
  margin-bottom: 60px; }
  .breadcrumb ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none; }
    .breadcrumb ul > li {
      color: #7a828d;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      display: inline-block; }
      .breadcrumb ul > li:after {
        content: '>';
        padding: 0 5px; }
      .breadcrumb ul > li:last-child:after {
        display: none; }
      .breadcrumb ul > li > a {
        color: #7a828d;
        text-decoration: none; }
        .breadcrumb ul > li > a:hover {
          text-decoration: underline; }

.btn-yellow {
  height: 43px;
  padding: 4px 15px;
  color: #f6b600;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  background: #fff;
  text-transform: uppercase;
  border: 3px solid #f6b600; }
  .btn-yellow:before {
    z-index: 1;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    content: '';
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: inline-block;
    background: url("../img/btn__gradient.png") 100% 0 no-repeat; }
  .btn-yellow:after {
    z-index: 2;
    top: 3px;
    left: 3px;
    bottom: 3px;
    content: '';
    opacity: 0;
    width: 60px;
    visibility: hidden;
    position: absolute;
    display: inline-block;
    background: url("../img/btn__gradient_left.png") 100% 0 no-repeat; }
  .btn-yellow:hover {
    color: #fff;
    border-color: #f6b600;
    background-color: #f6b600; }
    .btn-yellow:hover:after, .btn-yellow:hover:before {
      opacity: 1;
      visibility: visible; }
  .btn-yellow span {
    z-index: 5;
    position: relative; }
  .btn-yellow:focus {
    outline: none; }
  .btn-yellow.btn-invert {
    color: #fff;
    border-color: #f6b600;
    background-color: #f6b600; }
    .btn-yellow.btn-invert:after, .btn-yellow.btn-invert:before {
      opacity: 1;
      visibility: visible; }
    .btn-yellow.btn-invert:hover {
      color: #f6b600;
      background: #fff; }
      .btn-yellow.btn-invert:hover:after, .btn-yellow.btn-invert:hover:before {
        opacity: 0;
        visibility: hidden; }

.btn-md {
  height: 46px;
  min-width: 205px;
  padding: 7px 15px;
  line-height: 28px;
  border-width: 2px; }
  .btn-md:before {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px; }
  .btn-md:after {
    top: 2px;
    left: 2px;
    bottom: 2px; }

.btn-gray {
  z-index: 1;
  min-width: 170px;
  height: 34px;
  padding: 4px 15px 4px 15px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  background: #bec4ca;
  border: 3px solid #bec4ca;
  text-transform: uppercase; }
  .btn-gray:before {
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    display: inline-block;
    background: url("../img/btn__gradient.png") 100% 0 no-repeat; }
  .btn-gray:after {
    z-index: 3;
    top: 0px;
    left: 0px;
    bottom: 0px;
    content: '';
    width: 60px;
    position: absolute;
    display: inline-block;
    background: url("../img/btn__gradient_left.png") 100% 0 no-repeat; }
  .btn-gray:hover {
    color: #fff;
    border-color: #f6b600;
    background-color: #f6b600; }
    .btn-gray:hover:after, .btn-gray:hover:before {
      opacity: 1;
      visibility: visible; }
  .btn-gray span {
    z-index: 5;
    position: relative; }
  .btn-gray:focus {
    outline: none; }

.form-control {
  margin: 0;
  width: 100%;
  color: #ccc;
  outline: none;
  font-size: 30px;
  line-height: 31px;
  padding: 1px 10px 3px 10px;
  display: inline-block;
  background: #414a52;
  vertical-align: middle;
  border: 1px solid #414a52;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .form-control::-moz-placeholder {
    color: #ccc;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #ccc; }
  .form-control::-webkit-input-placeholder {
    color: #ccc; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus {
    color: #ccc; }
    .form-control:focus::-moz-placeholder {
      color: transparent;
      opacity: 1; }
    .form-control:focus:-ms-input-placeholder {
      color: transparent; }
    .form-control:focus::-webkit-input-placeholder {
      color: transparent; }
  .form-control.error {
    color: #da1308;
    border-color: #da1308; }

.form-group {
  margin-bottom: 5px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #656d74;
  font-family: "Akrobat", Arial, sans-serif;
  background: #f5f7f9;
  font-size: 18px;
  line-height: 1.33333; }

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  padding: 0;
  margin: 0;
  font-family: "Akrobat", Arial, sans-serif;
  line-height: 1.2; }

h1 {
  color: #3c5062;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase; }

h2 {
  color: #3c5062;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase; }

h3 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase; }

h4 {
  color: #515359;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 5px; }

h5 {
  font-size: 1rem;
  margin-bottom: 1rem; }

h6 {
  font-size: 0.875rem;
  margin-bottom: 0.75rem; }

p {
  margin: 0 0 20px 0; }

a {
  color: #dca30d;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: "Akrobat", Arial, sans-serif; }

.page {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 1230px;
  background: #f5f7f9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.main {
  z-index: 10;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  padding-bottom: 50px; }

.search {
  position: relative; }
  .search__input {
    margin: 0;
    width: 100%;
    height: 28px;
    color: #7a8d9b;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    display: block;
    background: #515c64;
    vertical-align: middle;
    letter-spacing: -0.24px;
    font-family: "Akrobat", Arial, sans-serif;
    padding: 0 30px 2px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
    .search__input::-moz-placeholder {
      color: #7a8d9b;
      opacity: 1; }
    .search__input:-ms-input-placeholder {
      color: #7a8d9b; }
    .search__input::-webkit-input-placeholder {
      color: #7a8d9b; }
    .search__input::-ms-clear {
      display: none;
      width: 0;
      height: 0; }
    .search__input:focus {
      color: #7a8d9b; }
      .search__input:focus::-moz-placeholder {
        color: transparent;
        opacity: 1; }
      .search__input:focus:-ms-input-placeholder {
        color: transparent; }
      .search__input:focus::-webkit-input-placeholder {
        color: transparent; }
  .search__btn {
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    width: 28px;
    height: 28px;
    border: none;
    outline: none;
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: inline-block;
    background: url("../img/icon__loop.png") 50% 50% no-repeat; }

.h2 {
  color: #515359;
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 40px;
  text-transform: uppercase; }
  .h2 span {
    display: inline-block;
    position: relative; }
    .h2 span:after, .h2 span:before {
      top: 50%;
      content: '';
      width: 394px;
      height: 11px;
      margin-top: -4px;
      position: absolute; }
    .h2 span:after {
      left: -410px;
      background: url("../img/heading__left.png") 0 0 no-repeat; }
    .h2 span:before {
      right: -410px;
      background: url("../img/heading__right.png") 0 0 no-repeat; }
  .h2 i {
    color: #e0a600;
    font-style: normal; }

.h1 {
  color: #515359;
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 35px;
  text-transform: uppercase; }
  .h1 span {
    display: inline-block;
    position: relative; }
    .h1 span:after, .h1 span:before {
      top: 50%;
      content: '';
      width: 394px;
      height: 11px;
      margin-top: -4px;
      position: absolute; }
    .h1 span:after {
      left: -410px;
      background: url("../img/heading__left.png") 0 0 no-repeat; }
    .h1 span:before {
      right: -410px;
      background: url("../img/heading__right.png") 0 0 no-repeat; }
  .h1 i {
    color: #e0a600;
    font-style: normal; }

.goods {
  padding: 10px;
  background: #fff;
  text-align: center;
  margin: 0 7px 35px 8px;
  border: 1px solid rgba(65, 74, 82, 0.38); }
  .goods__image {
    outline: none;
    width: 300px;
    height: 210px;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .goods__image img {
      margin: auto;
      display: inline-block; }
  .goods__price {
    height: 30px;
    color: #515359;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-top: -13px;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .goods__name {
    color: #515359;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px; }
    .goods__name a {
      color: #515359;
      text-decoration: none; }
      .goods__name a:hover {
        color: #dca30d; }
  .goods__purchase {
    text-align: center;
    margin-bottom: -30px; }
  .goods .btn-yellow {
    width: 202px; }

.tabs__item {
  z-index: -1;
  opacity: 0;
  visibility: hidden; }
  .tabs__item.active {
    z-index: 10;
    opacity: 1;
    visibility: visible; }

.callback {
  width: 1010px;
  height: 360px;
  position: relative;
  padding-left: 260px;
  background: transparent;
  font-family: "Akrobat", Arial, sans-serif; }
  .callback__close {
    top: 45px;
    margin: 0;
    padding: 0;
    right: 285px;
    width: 20px;
    height: 20px;
    z-index: 500;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    background: url("../img/modal__close.png") 50% 50% no-repeat; }
  .callback__box {
    width: 484px;
    height: 258px;
    padding: 10px 48px;
    position: relative;
    background-color: #2b3035;
    border: 10px solid rgba(151, 154, 158, 0.29);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.52); }
    .callback__box:before {
      top: 10px;
      left: -260px;
      z-index: 1;
      content: '';
      width: 358px;
      height: 312px;
      position: absolute;
      background: url("../img/mdal_oil.png") 0 0 no-repeat; }
  .callback__heading {
    color: #dd9600;
    font-size: 48px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .callback__check {
    color: #5b626a;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: block; }
    .callback__check input[type='checkbox'] {
      display: none; }
    .callback__check span {
      text-indent: 25px;
      position: relative;
      display: inline-block; }
      .callback__check span:before {
        top: 1px;
        left: 0;
        z-index: 2;
        content: '';
        width: 21px;
        height: 21px;
        position: absolute;
        background: #414a52;
        display: inline-block;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px; }
      .callback__check span:after {
        top: 1px;
        left: 0;
        z-index: 10;
        content: '';
        width: 21px;
        height: 21px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background: url("../img/icon__check.png") 50% 50% no-repeat;
        display: inline-block; }
    .callback__check input[type='checkbox']:checked + span:after {
      opacity: 1;
      visibility: visible; }
  .callback__button {
    text-align: center;
    margin-bottom: -20px; }
    .callback__button .btn-yellow {
      width: 205px; }
  .callback__wrap {
    z-index: 10;
    position: relative; }

.fancybox-bg {
  background-color: #2b3035;
  opacity: 0.9 !important; }

.connection {
  z-index: 20;
  position: relative;
  border-top: 9px solid #414a52;
  height: 389px; }
  .connection #map {
    height: 100%; }
  .connection__box {
    left: 15px;
    top: -49px;
    z-index: 20;
    width: 395px;
    color: #414a52;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.44);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.44); }
  .connection__heading {
    width: 100%;
    height: 49px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 37px;
    padding: 2px 10px;
    background-color: #2a2f37; }
  .connection__body {
    padding: 10px 50px 20px 10px; }
  .connection__address {
    padding-left: 40px;
    margin-bottom: 30px;
    background: url("../img/icon__location.png") 0 0 no-repeat; }
  .connection__phone {
    padding-left: 40px;
    background: url("../img/icon__contact.png") 0 0 no-repeat; }
    .connection__phone strong {
      display: block;
      font-weight: 600;
      margin-bottom: 3px; }
    .connection__phone a {
      color: #414a52;
      text-decoration: navajowhite; }

.btn-up {
  top: 50%;
  z-index: 800;
  right: 50px;
  width: 80px;
  height: 56px;
  outline: none;
  margin-top: -28px;
  cursor: pointer;
  position: fixed;
  display: none;
  background: url("../img/icon__up.png") 50% 50% no-repeat; }

.hide {
  visibility: hidden;
  display: none !important; }

.row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.sidebar {
  width: 320px; }

.content {
  padding-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.header {
  z-index: 999;
  width: 100%;
  height: 122px;
  position: relative;
  background: url("../img/header__bg.png") 50% 0 no-repeat; }
  .header__logo {
    top: 8px;
    left: 9px;
    z-index: 1;
    width: 319px;
    position: absolute;
    display: inline-block; }
  .header__top {
    z-index: 5;
    height: 27px;
    padding-left: 90px;
    position: relative; }
  .header__link {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none; }
    .header__link:before, .header__link:after {
      content: " ";
      display: table; }
    .header__link:after {
      clear: both; }
    .header__link > li {
      float: left;
      margin-right: 40px; }
      .header__link > li:last-child {
        margin-right: 0; }
      .header__link > li > a {
        padding: 4px 0;
        color: #a0b9cc;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        display: inline-block;
        letter-spacing: 0.35px;
        text-decoration: none;
        text-transform: uppercase; }
        .header__link > li > a:hover {
          color: #dca30d; }
  .header__cart {
    float: right;
    color: #7a8d9b;
    font-size: 16px;
    font-weight: 200;
    line-height: 18px;
    display: inline-block;
    text-decoration: none;
    padding: 4px 0 4px 25px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    background: url("../img/icon__cart.png") 0 50% no-repeat; }
    .header__cart:hover {
      color: #dca30d; }
  .header__center {
    height: 58px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .header__search {
    width: 491px;
    padding: 15px 0;
    margin-left: 320px; }
  .header__contact {
    text-align: right;
    padding: 10px 0 0 40px;
    background: url("../img/icon__contact.png") 0 10px no-repeat; }
  .header__phone {
    color: #c6cfd6;
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase; }
    .header__phone span {
      top: -8px;
      margin-right: 4px;
      color: #788b99;
      font-size: 18px;
      line-height: 18px;
      position: relative;
      display: inline-block; }
    .header__phone a {
      color: #c6cfd6;
      text-decoration: none; }
  .header__callback {
    outline: none;
    color: #dca30d;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; }
    .header__callback:hover {
      color: #fff; }
  .header__nav {
    height: 37px; }
    .header__nav > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; }
      .header__nav > ul > li > a {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        line-height: 22px;
        padding: 7px 32px;
        white-space: nowrap;
        display: inline-block;
        letter-spacing: 0.5px;
        text-decoration: none;
        text-transform: uppercase; }
        .header__nav > ul > li > a:hover {
          color: #dca30d; }
      .header__nav > ul > li.active > a {
        color: #dca30d; }
      .header__nav > ul > li:first-child > a {
        font-size: 22px;
        font-weight: 700;
        color: #dca30d;
        letter-spacing: 0.55px; }
      .header__nav > ul > li:nth-child(5) {
        letter-spacing: 0.55px; }
        .header__nav > ul > li:nth-child(5) > a {
          font-weight: 700;
          color: #ff0000; }
          .header__nav > ul > li:nth-child(5) > a:hover {
            color: #dca30d; }
        .header__nav > ul > li:nth-child(5).active > a {
          color: #dca30d; }
      .header__nav > ul > li:last-child {
        padding-left: 10px; }
        .header__nav > ul > li:last-child > a {
          font-size: 22px;
          font-weight: 700;
          background: url("../img/icon__wather.png") 0 50% no-repeat; }

.bottom {
  padding-top: 50px;
  overflow: hidden; }

.footer {
  z-index: 20;
  height: 217px;
  background: #2a2f37;
  position: relative; }
  .footer:before {
    left: 50%;
    top: -155px;
    z-index: 1;
    content: '';
    width: 646px;
    height: 451px;
    display: block;
    margin-left: -768px;
    position: absolute;
    background: url("../img/image__fluid.png") 0 0 no-repeat; }
  .footer:after {
    top: 0;
    left: 50%;
    z-index: 2;
    content: '';
    width: 595px;
    height: 217px;
    display: block;
    margin-left: -865px;
    position: absolute;
    background: url("../img/footer__shadow.png") 0 0 no-repeat; }
  .footer__top {
    z-index: 20;
    height: 47px;
    position: relative;
    background-color: rgba(29, 31, 36, 0.72); }
  .footer__logo {
    top: -24px;
    left: 46px;
    z-index: 1;
    width: 319px;
    position: absolute;
    display: inline-block; }
  .footer__nav {
    padding: 0;
    float: left;
    list-style: none;
    margin: 10px 0 0 410px; }
    .footer__nav:before, .footer__nav:after {
      content: " ";
      display: table; }
    .footer__nav:after {
      clear: both; }
    .footer__nav > li {
      float: left;
      margin-right: 40px; }
      .footer__nav > li:last-child {
        margin-right: 0; }
      .footer__nav > li > a {
        padding: 4px 0;
        color: #a0b9cc;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        display: inline-block;
        letter-spacing: 0.35px;
        text-decoration: none;
        text-transform: uppercase; }
        .footer__nav > li > a:hover {
          color: #dca30d; }
  .footer__contact {
    right: 15px;
    top: 10px;
    padding-left: 40px;
    text-align: right;
    position: absolute;
    background: url("../img/icon__contact.png") 0 0 no-repeat; }
  .footer__phone {
    color: #c6cfd6;
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 4px;
    text-transform: uppercase; }
    .footer__phone span {
      top: -8px;
      margin-right: 4px;
      color: #788b99;
      font-size: 18px;
      line-height: 18px;
      position: relative;
      display: inline-block; }
    .footer__phone a {
      color: #c6cfd6;
      text-decoration: none; }
  .footer__callback {
    outline: none;
    color: #dca30d;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; }
    .footer__callback:hover {
      color: #fff; }
  .footer__bottom {
    height: 170px;
    position: relative; }
  .footer__copy {
    width: 164px;
    height: 12px;
    color: #414a52;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    position: absolute;
    bottom: 18px;
    left: 50%;
    margin-left: -80px;
    text-transform: uppercase;
    letter-spacing: 0.35px; }
  .footer__dev {
    right: 0;
    bottom: 0;
    width: 152px;
    height: 51px;
    display: block;
    position: absolute; }

/*# sourceMappingURL=main.css.map */
