.product {
  margin-bottom: 30px; }
  .product:before, .product:after {
    content: " ";
    display: table; }
  .product:after {
    clear: both; }
  .product__box {
    width: 50%;
    float: left;
    margin-bottom: 20px; }
  .product__heading {
    margin: 0;
    color: #ffb741;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding: 20px 20px;
    background: #414a52 url("../img/product__head_bg.png") 100% 100% no-repeat;
    text-transform: uppercase; }
  .product__image {
    width: 100%;
    height: 410px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid rgba(65, 74, 82, 0.38);
    background-color: #f5f7f9; }
    .product__image a {
      margin: auto;
      outline: none;
      display: inline-block; }
  .product__info {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    padding: 60px 0 0 15px; }
    .product__info ul {
      list-style: none;
      margin: 0 0 15px 0;
      padding: 0 0 15px 0;
      background: url("../img/heading__right.png") 0 100% no-repeat; }
      .product__info ul li {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px; }
        .product__info ul li strong {
          font-weight: 400;
          color: #2576b3; }
  .product__priceOld {
    color: #79828a;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: uppercase; }
    .product__priceOld:before {
      top: 50%;
      left: 0;
      right: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #000;
      position: absolute;
      -webkit-transform: rotate(-12deg);
      -ms-transform: rotate(-12deg);
      -o-transform: rotate(-12deg);
      transform: rotate(-12deg); }
  .product__priceNew {
    color: #414a52;
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 8px; }
    .product__priceNew strong {
      font-weight: 700; }
  .product__text {
    width: 100%;
    float: left; }

/*# sourceMappingURL=product.css.map */
