.bnrBox {
  margin-bottom: 40px;
  position: relative; }
  .bnrBox a {
    font-size: 0;
    line-height: 0;
    display: block; }
  .bnrBox:before {
    left: 0;
    right: 0;
    top: 100%;
    content: '';
    height: 40px;
    display: block;
    position: absolute;
    background: url("../img/box_shadow.png") 50% -3px no-repeat; }

.special {
  width: 100%;
  display: table;
  margin-bottom: 20px; }
  .special__image {
    width: 243px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid rgba(65, 74, 82, 0.38);
    background-color: #ffffff; }
    .special__image a {
      outline: none;
      display: inline-block; }
  .special__text {
    position: relative;
    padding-left: 15px;
    padding-bottom: 60px;
    display: table-cell;
    vertical-align: top;
    border-bottom: 1px solid rgba(65, 74, 82, 0.38); }
    .special__text .btn-gray {
      right: 0;
      bottom: 0;
      position: absolute; }

/*# sourceMappingURL=special.css.map */
