@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/akrobat/Akrobat-Regular.eot');
	src: local('Akrobat Regular'), local('Akrobat-Regular'),
	url('../fonts/akrobat/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/akrobat/Akrobat-Regular.woff') format('woff'),
	url('../fonts/akrobat/Akrobat-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/akrobat/Akrobat-ExtraLight.eot');
	src: local('Akrobat ExtraLight'), local('Akrobat-ExtraLight'),
	url('../fonts/akrobat/Akrobat-ExtraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/akrobat/Akrobat-ExtraLight.woff') format('woff'),
	url('../fonts/akrobat/Akrobat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/akrobat/Akrobat-SemiBold.eot');
	src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'),
	url('../fonts/akrobat/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/akrobat/Akrobat-SemiBold.woff') format('woff'),
	url('../fonts/akrobat/Akrobat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/akrobat/Akrobat-Light.eot');
	src: local('Akrobat Light'), local('Akrobat-Light'),
	url('../fonts/akrobat/Akrobat-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/akrobat/Akrobat-Light.woff') format('woff'),
	url('../fonts/akrobat/Akrobat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/akrobat/Akrobat-Black.eot');
	src: local('Akrobat Black'), local('Akrobat-Black'),
	url('../fonts/akrobat/Akrobat-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/akrobat/Akrobat-Black.woff') format('woff'),
	url('../fonts/akrobat/Akrobat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/akrobat/Akrobat-Bold.eot');
	src: local('Akrobat Bold'), local('Akrobat-Bold'),
	url('../fonts/akrobat/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/akrobat/Akrobat-Bold.woff') format('woff'),
	url('../fonts/akrobat/Akrobat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/akrobat/Akrobat-Thin.eot');
	src: local('Akrobat Thin'), local('Akrobat-Thin'),
	url('../fonts/akrobat/Akrobat-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/akrobat/Akrobat-Thin.woff') format('woff'),
	url('../fonts/akrobat/Akrobat-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/akrobat/Akrobat-ExtraBold.eot');
	src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'),
	url('../fonts/akrobat/Akrobat-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/akrobat/Akrobat-ExtraBold.woff') format('woff'),
	url('../fonts/akrobat/Akrobat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
