.bottom {
	padding-top: 50px;
	overflow: hidden;
}


.footer {
	z-index: 20;
	height: 217px;
	background: #2a2f37;
	position: relative;

	&:before {
		left: 50%;
		top: -155px;
		z-index: 1;
		content: '';
		width: 646px;
		height: 451px;
		display: block;
		margin-left: -768px;
		position: absolute;
		background: url("../img/image__fluid.png") 0 0 no-repeat;
	}

	&:after {
		top: 0;
		left: 50%;
		z-index: 2;
		content: '';
		width: 595px;
		height: 217px;
		display: block;
		margin-left: -865px;
		position: absolute;
		background: url("../img/footer__shadow.png") 0 0 no-repeat;
	}

	&__top {
		z-index: 20;
		height: 47px;
		position: relative;
		background-color: rgba(29,31,36, 0.72);
	}

	&__logo {
		top: -24px;
		left: 46px;
		z-index: 1;
		width: 319px;
		position: absolute;
		display: inline-block;
	}

	&__nav {
		padding: 0;
		float: left;
		list-style: none;
		margin: 10px 0 0 410px;
		@include clearfix();

		> li {
			float: left;
			margin-right: 40px;

			&:last-child {
				margin-right: 0;
			}

			> a {
				padding: 4px 0;
				color: #a0b9cc;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				display: inline-block;
				letter-spacing: 0.35px;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					color: $color-yellow;
				}
			}
		}
	}


	&__contact {
		right: 15px;
		top: 10px;
		padding-left: 40px;
		text-align: right;
		position: absolute;
		background: url("../img/icon__contact.png") 0 0 no-repeat;
	}

	&__phone {
		color: #c6cfd6;
		font-size: 30px;
		font-weight: 300;
		line-height: 24px;
		margin-bottom: 4px;
		text-transform: uppercase;

		span {
			top: -8px;
			margin-right: 4px;
			color: #788b99;
			font-size: 18px;
			line-height: 18px;
			position: relative;
			display: inline-block;
		}

		a {
			color: #c6cfd6;
			text-decoration: none;
		}
	}

	&__callback {
		outline: none;
		color: #dca30d;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			color: #fff;
		}
	}

	&__bottom {
		height: 170px;
		position: relative;
	}

	&__copy {
		width: 164px;
		height: 12px;
		color: #414a52;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		position: absolute;
		bottom: 18px;
		left: 50%;
		margin-left: -80px;
		text-transform: uppercase;
		letter-spacing: 0.35px;
	}

	&__dev {
		right: 0;
		bottom: 0;
		width: 152px;
		height: 51px;
		display: block;
		position: absolute;
	}
}

