
// Header

.header {
	z-index: 999;
	width: 100%;
	height: 122px;
	position: relative;
	background: url("../img/header__bg.png") 50% 0 no-repeat;

	&__logo {
		top: 8px;
		left: 9px;
		z-index: 1;
		width: 319px;
		position: absolute;
		display: inline-block;
	}

	&__top {
		z-index: 5;
		height: 27px;
		padding-left: 90px;
		position: relative;
	}

	&__link {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			margin-right: 40px;

			&:last-child {
				margin-right: 0;
			}

			> a {
				padding: 4px 0;
				color: #a0b9cc;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				display: inline-block;
				letter-spacing: 0.35px;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					color: $color-yellow;
				}
			}
		}
	}

	&__cart {
		float: right;
		color: #7a8d9b;
		font-size: 16px;
		font-weight: 200;
		line-height: 18px;
		display: inline-block;
		text-decoration: none;
		padding: 4px 0 4px 25px;
		text-transform: uppercase;
		letter-spacing: 0.8px;
		background: url("../img/icon__cart.png") 0 50% no-repeat;

		&:hover {
			color: $color-yellow;
		}
	}

	&__center {
		height: 58px;
		@include flexbox();
		@include justify-content(space-between);
	}

	&__search {
		width: 491px;
		padding: 15px 0;
		margin-left: 320px;
	}

	&__contact {
		text-align: right;
		padding: 10px 0 0 40px;
		background: url("../img/icon__contact.png") 0 10px no-repeat;
	}

	&__phone {
		color: #c6cfd6;
		font-size: 30px;
		font-weight: 300;
		line-height: 24px;
		text-transform: uppercase;

		span {
			top: -8px;
			margin-right: 4px;
			color: #788b99;
			font-size: 18px;
			line-height: 18px;
			position: relative;
			display: inline-block;
		}

		a {
			color: #c6cfd6;
			text-decoration: none;
		}
	}

	&__callback {
		outline: none;
		color: #dca30d;
		font-size: 18px;
		font-weight: 600;
		line-height: 20px;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			color: #fff;
		}
	}

	&__nav {
		height: 37px;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			@include flexbox();
			@include justify-content(center);

			> li {


				> a {
					color: #fff;
					font-size: 20px;
					font-weight: 300;
					line-height: 22px;
					padding: 7px 32px;
					white-space: nowrap;
					display: inline-block;
					letter-spacing: 0.5px;
					text-decoration: none;
					text-transform: uppercase;

					span {

					}

					&:hover {
						color: $color-yellow;
					}
				}

				&.active {

					> a {
						color: $color-yellow;
					}
				}

				&:first-child {

					> a {
						font-size: 22px;
						font-weight: 700;
						color: $color-yellow;
						letter-spacing: 0.55px;
					}
				}

				&:nth-child(5) {
					letter-spacing: 0.55px;

					> a {
						font-weight: 700;
						color: $color-red;

						&:hover {
							color: $color-yellow;
						}
					}

					&.active {

						> a {
							color: $color-yellow;
						}
					}
				}

				&:last-child {
					padding-left: 10px;

					> a {
						font-size: 22px;
						font-weight: 700;
						background: url("../img/icon__wather.png") 0 50% no-repeat;
					}
				}
			}
		}
	}
}

