* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {
	color: $color-base;
	font-family: $font-base;
	background: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.container {
	width: 1230px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-left:  15px;
	padding-right: 15px;
}

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	padding: 0;
	margin: 0;
	font-family: $font-head;
	line-height: 1.2;
}

h1{
	color: #3c5062;
	font-size: 48px;
	font-weight: 400;
	line-height: 50px;
	text-transform: uppercase;
}

h2 {
	color: #3c5062;
	font-size: 48px;
	font-weight: 400;
	line-height: 50px;
	text-transform: uppercase;
}

h3 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 20px;
	text-transform: uppercase;

}

h4 {
	color: #515359;
	font-size: 20px;
	font-weight: 700;
	line-height: 18px;
	margin-bottom: 5px;
}

h5 {
	font-size: 1rem;
	margin-bottom: 1rem;
}

h6{
	font-size: 0.875rem;
	margin-bottom: 0.75rem;
}

p {
	margin: 0 0 20px 0;
}

a {
	color: $color-link;
	text-decoration: $link-decoration;

	&:hover {
		text-decoration: $link-hover-decoration;
	}
}

button,
input,
optgroup,
select,
textarea {
	font-family: $font-base;
}

.page {
	margin: 0 auto;
	min-height: 100vh;
	min-width: 1230px;
	background: #f5f7f9;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	z-index: 10;
	@include flex(1);
	position: relative;
	padding-bottom: 50px;
}


.search {
	position: relative;

	&__input {
		margin: 0;
		width: 100%;
		height: 28px;
		color: #7a8d9b;
		border: none;
		outline: none;
		font-size: 20px;
		font-weight: 400;
		line-height: 18px;
		display: block;
		background: #515c64;
		vertical-align: middle;
		letter-spacing: -0.24px;
		font-family: $font-base;
		padding: 0 30px 2px 10px;
		@include placeholder(#7a8d9b);
		@include border-radius(3px);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus {
			color: #7a8d9b;
			@include placeholder(transparent);
		}
	}

	&__btn {
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		z-index: 10;
		width: 28px;
		height: 28px;
		border: none;
		outline: none;
		font-size: 0;
		line-height: 0;
		position: absolute;
		display: inline-block;
		background: url("../img/icon__loop.png") 50% 50% no-repeat;
	}
}


.h2 {
	color: #515359;
	font-size: 48px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	margin-bottom: 40px;
	text-transform: uppercase;

	span {
		display: inline-block;
		position: relative;

		&:after,
		&:before {
			top: 50%;
			content: '';
			width: 394px;
			height: 11px;
			margin-top: -4px;
			position: absolute;
		}

		&:after {
			left: -410px;
			background: url("../img/heading__left.png") 0 0 no-repeat;
		}

		&:before {
			right: -410px;
			background: url("../img/heading__right.png") 0 0 no-repeat;
		}
	}

	i {
		color: #e0a600;
		font-style: normal;
	}
}

.h1 {
	color: #515359;
	font-size: 48px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	margin-bottom: 35px;
	text-transform: uppercase;

	span {
		display: inline-block;
		position: relative;

		&:after,
		&:before {
			top: 50%;
			content: '';
			width: 394px;
			height: 11px;
			margin-top: -4px;
			position: absolute;
		}

		&:after {
			left: -410px;
			background: url("../img/heading__left.png") 0 0 no-repeat;
		}

		&:before {
			right: -410px;
			background: url("../img/heading__right.png") 0 0 no-repeat;
		}
	}

	i {
		color: #e0a600;
		font-style: normal;
	}
}


.goods {
	padding: 10px;
	background: #fff;
	text-align: center;
	margin: 0 7px 35px 8px;
	border: 1px solid rgba(65, 74, 82, 0.38);

	&__image {
		outline: none;
		width: 300px;
		height: 210px;
		margin: 0 auto;
		font-size: 0;
		line-height: 0;
		@include flexbox();

		img {
			margin: auto;
			display: inline-block;
		}
	}

	&__price {
		height: 30px;
		color: #515359;
		font-size: 30px;
		font-weight: 700;
		line-height: 30px;
		margin-top: -13px;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	&__name {
		color: #515359;
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 5px;

		a {
			color: #515359;
			text-decoration: none;

			&:hover {
				color: $color-yellow;
			}
		}
	}

	&__purchase {
		text-align: center;
		margin-bottom: -30px;
	}

	.btn-yellow {
		width: 202px;
	}
}

.tabs {

	&__item {
		z-index: -1;
		opacity: 0;
		visibility: hidden;

		&.active {
			z-index: 10;
			opacity: 1;
			visibility: visible;
		}
	}
}

.callback {
	width: 1010px;
	height: 360px;
	position: relative;
	padding-left: 260px;
	background: transparent;
	font-family: $font-base;

	&__close {
		top: 45px;
		margin: 0;
		padding: 0;
		right: 285px;
		width: 20px;
		height: 20px;
		z-index: 500;
		border: none;
		outline: none;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		background: url("../img/modal__close.png") 50% 50% no-repeat;
	}

	&__box {
		width: 484px;
		height: 258px;
		padding: 10px 48px;
		position: relative;
		background-color: #2b3035;
		border: 10px solid rgba(151, 154, 158, 0.29);
		@include box-shadow(0 2px 10px rgba(0, 0, 0, 0.52));

		&:before {
			top: 10px;
			left: -260px;
			z-index: 1;
			content: '';
			width: 358px;
			height: 312px;
			position: absolute;
			background: url("../img/mdal_oil.png") 0 0 no-repeat;
		}
	}

	&__heading {
		color: #dd9600;
		font-size: 48px;
		font-weight: 400;
		line-height: 50px;
		text-align: center;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__check {
		color: #5b626a;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
		display: block;

		input[type='checkbox'] {
			display: none;
		}

		span {
			text-indent: 25px;
			position: relative;
			display: inline-block;

			&:before {
				top: 1px;
				left: 0;
				z-index: 2;
				content: '';
				width: 21px;
				height: 21px;
				position: absolute;
				background: #414a52;
				display: inline-block;
				@include border-radius(3px);
			}


			&:after {
				top: 1px;
				left: 0;
				z-index: 10;
				content: '';
				width: 21px;
				height: 21px;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				background: url("../img/icon__check.png") 50% 50% no-repeat;
				display: inline-block;
			}
		}

		input[type='checkbox']:checked + span:after {
			opacity: 1;
			visibility: visible;
		}
	}

	&__button {
		text-align: center;
		margin-bottom: -20px;

		.btn-yellow {
			width: 205px;
		}
	}


	&__wrap {
		z-index: 10;
		position: relative;
	}
}

.fancybox-bg {
	background-color: #2b3035;
	opacity: 0.9 !important;
}

.connection {
	z-index: 20;
	position: relative;
	border-top: 9px solid #414a52;
	height: 389px;

	#map {
		height: 100%;
	}

	&__box {
		left: 15px;
		top: -49px;
		z-index: 20;
		width: 395px;
		color: #414a52;
		font-size: 30px;
		font-weight: 300;
		line-height: 30px;
		position: absolute;
		background: rgba(255,255,255, 0.8);
		@include box-shadow(0 2px 10px rgba(0, 0, 0, 0.44));
	}

	&__heading {
		width: 100%;
		height: 49px;
		color: #ffffff;
		font-size: 36px;
		font-weight: 400;
		line-height: 37px;
		padding: 2px 10px;
		background-color: #2a2f37;
	}

	&__body {
		padding: 10px 50px 20px 10px;
	}

	&__address {
		padding-left: 40px;
		margin-bottom: 30px;
		background: url("../img/icon__location.png") 0 0 no-repeat;
	}

	&__phone {
		padding-left: 40px;
		background: url("../img/icon__contact.png") 0 0 no-repeat;

		strong {
			display: block;
			font-weight: 600;
			margin-bottom: 3px;
		}

		a {
			color: #414a52;
			text-decoration: navajowhite;
		}
	}
}

.btn-up {
	top: 50%;
	z-index: 800;
	right: 50px;
	width: 80px;
	height: 56px;
	outline: none;
	margin-top: -28px;
	cursor: pointer;
	position: fixed;
	display: none;
	background: url("../img/icon__up.png") 50% 50% no-repeat;
}

.hide {
	visibility: hidden;
	display: none !important;
}

.row {
	width: 100%;
	@include flexbox();
	@include flex-direction(row-reverse);
}

.sidebar {
	width: 320px;
}

.content {
	padding-left: 10px;
	@include flex(1);
}