$body-bg:                       #f5f7f9;
$color-yellow:                  #dca30d;
$color-red:                     #ff0000;

// Fonts


$font-size-base:                18px !default;
$font-size-lg:                  ($font-size-base * 1.25) !default;
$font-size-sm:                  ($font-size-base * .875) !default;

$font-weight-base:              300 !default;
$line-height-base:              1.33333 !default;


$font-base:                     'Akrobat', Arial, sans-serif !default;
$font-head:                     $font-base;

$spacer:                        1rem !default;

$color-base:                    #656d74;
$color-link:                    $color-yellow !default;

$link-decoration:              underline!default;
$link-hover-decoration:        none!default;


	// layout

$container-xl:                  1230px !default;

