// Mixins

@import "variables";

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";


.about {
	padding-bottom: 100px;
	background: url("../img/about__bg.jpg") 50% 40px no-repeat;

	&__content {
		width: 1010px;
		margin-left: 128px;
		background: rgba(245, 247, 249,0.87);
		padding: 10px 25px 25px 25px;

		h1 {
			text-transform: uppercase;
			margin-bottom: 10px;
		}
	}
}