// Mixins

@import "variables";

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";


.catRow {
	width: 100%;
	margin-bottom: 40px;
	@include flexbox();
	@include justify-content(space-between);
}

.cat {
	width: 390px;
	padding-top: 65px;

	&__box {
		color: #f5f7f9;
		display: block;
		text-decoration: none;
		background-color: #f5f7f9;
		border: 1px solid rgba(65, 74, 82, 0.38);

		&:hover {
			text-decoration: navajowhite;

			.cat__title {
				color: #ffb741;
			}
		}
	}

	&__image {
		display: block;
		margin-top: -60px;
		margin-bottom: 20px;
	}

	&__title {
		color: #f5f7f9;
		font-size: 48px;
		font-weight: 400;
		line-height: 49px;
		padding: 3px 10px 5px 10px;
		background: #414a52 url("../img/cat_heading.png") 100% 0 no-repeat;
		text-transform: uppercase;
	}

	&__content {
		padding: 10px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

				a {
					color: #414a52;
					font-size: 18px;
					font-weight: 400;
					line-height: 24px;
					padding-left: 16px;
					position: relative;
					display: inline-block;
					text-decoration: none;

					&:before {
						left: 0;
						top: 9px;
						width: 6px;
						height: 6px;
						content: '';
						position: absolute;
						background: #414a52;
						display: inline-block;
						@include border-radius(50%);
					}

					&:hover {
						color: #dd9217;

						&:before {
							background: #dd9217;
						}
					}
				}
			}
		}
	}
}

.nav {
	margin-bottom: 12px;
	border: 1px solid rgba(65, 74, 82, 0.38);

	&__title {
		color: #f5f7f9;
		font-size: 36px;
		font-weight: 400;
		line-height: 37px;
		position: relative;
		padding: 12px 10px;
		text-transform: uppercase;
		background: #414a52 url("../img/headind_pattern.png") 100% 0 no-repeat;
	}

	&__image {
		right: 5px;
		bottom: 5px;
		z-index: 20;
		width: 138px;
		height: 84px;
		position: absolute;
	}

	&__content {
		padding: 15px 10px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

				a {
					color: #414a52;
					font-size: 18px;
					font-weight: 400;
					line-height: 24px;
					padding-left: 16px;
					position: relative;
					display: inline-block;
					text-decoration: none;

					&:before {
						left: 0;
						top: 9px;
						width: 6px;
						height: 6px;
						content: '';
						position: absolute;
						background: #414a52;
						display: inline-block;
						@include border-radius(50%);
					}

					&:hover {
						color: #dd9217;

						&:before {
							background: #dd9217;
						}
					}
				}
			}
		}
	}

	&__elem {
		padding: 0 15px;

		ul {
			display: none;
		}

		&.open {
			margin-bottom: 20px;

			.nav__cat {

				&:before {
					opacity: 0;
					visibility: hidden;
				}

				&:after {
					opacity: 1;
					visibility: visible;
					@include rotate(0deg);
				}
			}
		}
	}

	&__cat {
		color: #414a52;
		font-size: 18px;
		font-weight: 400;
		padding-left: 15px;
		line-height: 24px;
		margin-left: -15px;
		position: relative;
		display: inline-block;
		text-decoration: none;

		&:before {
			left: -2px;
			top: 6px;
			z-index: 1;
			content: '';
			width: 12px;
			height: 12px;
			position: absolute;
			display: inline-block;
			background: url("../img/catalog/filter__arrow_gray.png") 50% 50% no-repeat;
		}

		&:after {
			left: -2px;
			top: 6px;
			z-index: 1;
			content: '';
			width: 12px;
			height: 12px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: url("../img/catalog/filter_arrow_yellow.png") 50% 50% no-repeat;
			@include rotate(-90deg);
		}

		&:hover {
			color: #d98700;

			&:before {
				opacity: 0;
				visibility: hidden;
			}

			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}


.showcase {
	margin: 0 -5px;
	@include flexbox();
	@include flex-wrap(wrap);

	&__elem {
		float: left;
		width: 33.33%;
		padding: 0 5px;
		margin-bottom: 29px;
	}
}

.item {
	padding: 10px;
	background: #fff;
	text-align: center;
	margin-bottom: 20px;
	border: 1px solid rgba(65, 74, 82, 0.38);

	&__image {
		outline: none;
		width: 200px;
		margin: 0 auto;

		font-size: 0;
		line-height: 0;
		@include flexbox();

		img {
			margin: auto;
			display: inline-block;
		}
	}

	&__price {
		height: 30px;
		color: #515359;
		font-size: 30px;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	&__name {
		color: #515359;
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 5px;

		a {
			color: #515359;
			text-decoration: none;

			&:hover {
				color: $color-yellow;
			}
		}
	}

	&__purchase {
		text-align: center;
		margin-bottom: -30px;
	}

	.btn-yellow {
		width: 202px;
	}
}
