// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";

.mainSlider {
	margin-top: -37px;
	position: relative;

	&:before {
		top: 0;
		left: 50%;
		z-index: 10;
		content: '';
		width: 849px;
		height: 384px;
		position: absolute;
		margin-left: -840px;
		display: inline-block;
		background: url("../img/slider__shadow_lg.png") 0 0 no-repeat;
	}

	&__item {
		z-index: 1;
		border: none;
		outline: none;
		position: relative;
	}

	&__content {
		left: 0;
		right: 0;
		z-index: 10;
		bottom: 65px;
		position: absolute;

	}

	&__text {
		color: #f9bb11;
		max-width: 750px;
		font-size: 48px;
		font-weight: 400;
		line-height: 48px;
		text-decoration: none;
		text-transform: uppercase;
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.98);
	}

	.slide-nav {
		top: 50%;
		z-index: 30;
		width: 93px;
		height: 166px;
		cursor: pointer;
		position: absolute;
		margin-top: -95px;
		display: inline-block;
		background: url("../img/slider__arrow.png") 50% 50% no-repeat;

		&.prev {
			left: 50%;
			margin-left: -600px;
		}

		&.next {
			right: 50%;
			margin-right: -600px;
			@include rotate(180deg);
		}
	}

	.slick-dots {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 30;
		padding: 12px 0;
		height: 36px;
		opacity: 0.58;
		font-size: 0;
		line-height: 0;
		background: #1c2025;
		text-align: center;
		position: absolute;

		li {
			padding: 0 4px;
			display: inline-block;

			button {
				margin: 0;
				padding: 0;
				width: 12px;
				height: 12px;
				opacity: 0.52;
				border: none;
				outline: none;
				font-size: 0;
				line-height: 0;
				background: #fff;
				cursor: pointer;
				display: inline-block;
				@include border-radius(50%);
			}

			&.slick-active {

				button {
					opacity: 1;
					background: #fbba00;
				}
			}
		}
	}
}


.advantage-block {
	padding-top: 90px;
	overflow-x: hidden;
	overflow-y: inherit;

	.h2 {
		margin-bottom: 55px;
	}
}

.advantage {
	width: 100%;
	color: #999999;
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	text-align: center;
	background: #e3e7ec;
	margin-bottom: 40px;
	position: relative;

	&:before {
		left: 0;
		right: 0;
		top: 100%;
		content: '';
		height: 40px;
		display: block;
		position: absolute;
		background: url("../img/box_shadow.png") 50% -3px no-repeat;
	}


	ul {
		margin: 0 auto;
		padding: 0;
		list-style: none;
		position: relative;
		@include flexbox();
		@include justify-content(space-around);

		&:before {
			bottom: 40px;
			left: -395px;
			z-index: 10;
			content: '';
			width: 435px;
			height: 399px;
			position: absolute;
			background: url("../img/homepage/img__oil.png") 0 0 no-repeat;
		}
	}

	li {
		padding: 180px 10px 30px 10px;

		&:nth-child(1) {
			width: 150px;
			background: url("../img/homepage/adv__icon_01.png") 50% 30px no-repeat;
		}

		&:nth-child(2) {
			width: 250px;
			background: url("../img/homepage/adv__icon_02.png") 50% 30px no-repeat;
		}

		&:nth-child(3) {
			width: 160px;
			background: url("../img/homepage/adv__icon_03.png") 50% 30px no-repeat;
		}

		&:nth-child(4) {
			width: 210px;
			background: url("../img/homepage/adv__icon_04.png") 50% 30px no-repeat;
		}

		&:nth-child(5) {
			width: 220px;
			background: url("../img/homepage/adv__icon_05.png") 50% 30px no-repeat;
		}
	}

	&__heading {
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	p {
		font-weight: 400;
		margin-bottom: 0;
	}
}

.main-content {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #f5f7f9 url("../img/home__bg.jpg") 50% 15px no-repeat;
}

.products {
	margin-bottom: 20px;
	position: relative;

	&__nav {
		padding: 0;
		list-style: none;
		margin: 0 0 35px 0;
		@include clearfix();

		li {
			float: left;
			margin-right: 1px;
			position: relative;

			&:before {
				left: 0;
				bottom: 0;
				content: '';
				width: 100%;
				height: 5px;
				display: block;
				position: absolute;
				background: #bfc7ce;
			}

			a {
				width: 202px;
				height: 43px;
				padding: 4px;
				color: #515359;
				font-size: 30px;
				font-weight: 400;
				line-height: 29px;
				text-align: center;
				position: relative;
				display: inline-block;
				text-decoration: none;
				background: transparent;
				text-transform: uppercase;
				border: 3px solid transparent;

				&:before {
					z-index: 1;
					top: 3px;
					left: 3px;
					right: 3px;
					bottom: 3px;
					content: '';
					opacity: 0;
					visibility: hidden;
					position: absolute;
					display: inline-block;
					background: url("../img/btn__gradient.png") 100% 0 no-repeat;
				}

				&:after {
					z-index: 2;
					top: 3px;
					left: 3px;
					bottom: 3px;
					content: '';
					opacity: 0;
					width: 60px;
					visibility: hidden;
					position: absolute;
					display: inline-block;
					background: url("../img/btn__gradient_left.png") 100% 0 no-repeat;
				}

				&:hover {
					color: #3c3d42;
				}

				span {
					z-index: 5;
					position: relative;
				}
			}

			&:hover {

				&:before {
					background: #f6b600;
				}
			}

			&.active {

				a {
					color: #3c3d42;
					border-color: #f6b600;
					background-color: #f6b600;

					&:after,
					&:before {
						opacity: 1;
						visibility: visible;
					}

				}
			}
		}
	}

	&__slider {
		margin: 0 -8px;
		position: relative;

		&_item {
			border: none;
			outline: none;
			margin: 0 8px;
		}
	}

	&__body {
		height: 340px;
		position: relative;
	}

	&__item {
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		position: absolute;
	}

	.goods {
		margin: 0 0 25px 0;
	}

	.slide-nav {
		top: 50%;
		z-index: 30;
		width: 77px;
		height: 148px;
		cursor: pointer;
		position: absolute;
		margin-top: -90px;
		display: inline-block;
		background: url("../img/slider__arrow_no_shadow.png") 50% 50% no-repeat;

		&.prev {
			left: -83px;
		}

		&.next {
			right: -83px;
			@include rotate(180deg);
		}
	}
}

.partners {
	padding-top: 40px;
	padding-bottom: 50px;
}

.partnerSlider {
	position: relative;

	&__item {
		text-align: center;

		img {
			display: inline-block !important;
		}
	}

	.slide-nav {
		top: 50%;
		z-index: 30;
		width: 17px;
		height: 25px;
		cursor: pointer;
		position: absolute;
		margin-top: -13px;
		display: inline-block;
		background: url("../img/slider__arrow_sm.png") 50% 50% no-repeat;

		&.prev {
			left: -30px;
		}

		&.next {
			right: -30px;
			@include rotate(180deg);
		}
	}
}