// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";


.product {
	margin-bottom: 30px;
	@include clearfix();

	&__box {
		width: 50%;
		float: left;
		margin-bottom: 20px;
	}

	&__heading {
		margin: 0;
		color: #ffb741;
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;
		padding: 20px 20px;
		background: #414a52 url("../img/product__head_bg.png") 100% 100% no-repeat;
		text-transform: uppercase;
	}

	&__image {
		width: 100%;
		height: 410px;
		@include flexbox();
		border: 1px solid rgba(65, 74, 82, 0.38);
		background-color: #f5f7f9;

		a {
			margin: auto;
			outline: none;
			display: inline-block;
		}
	}


	&__info {
		width: 50%;
		float: left;
		margin-bottom: 20px;
		padding: 60px 0 0 15px;

		ul {
			list-style: none;
			margin: 0 0 15px 0;
			padding: 0 0 15px 0;
			background: url("../img/heading__right.png") 0 100% no-repeat;

			li {
				font-size: 24px;
				font-weight: 400;
				line-height: 36px;

				strong {
					font-weight: 400;
					color: #2576b3;
				}
			}
		}
	}

	&__priceOld {
		color: #79828a;
		font-size: 30px;
		font-weight: 600;
		line-height: 30px;
		position: relative;
		margin-bottom: 15px;
		display: inline-block;
		text-transform: uppercase;

		&:before {
			top: 50%;
			left: 0;
			right: 0;
			content: '';
			width: 100%;
			height: 2px;
			background: #000;
			position: absolute;
			@include rotate(-12deg);
		}
	}

	&__priceNew {
		color: #414a52;
		font-size: 48px;
		line-height: 50px;
		text-transform: uppercase;
		font-weight: 400;
		margin-bottom: 8px;

		strong {
			font-weight: 700;
		}
	}

	&__text {
		width: 100%;
		float: left;
	}
}