// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";


.bnrBox {
	margin-bottom: 40px;
	position: relative;

	a {
		font-size: 0;
		line-height: 0;
		display: block;
	}

	&:before {
		left: 0;
		right: 0;
		top: 100%;
		content: '';
		height: 40px;
		display: block;
		position: absolute;
		background: url("../img/box_shadow.png") 50% -3px no-repeat;
	}
}

.special {
	width: 100%;
	display: table;
	margin-bottom: 20px;

	&__image {
		width: 243px;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		border: 1px solid rgba(65, 74, 82, 0.38);
		background-color: #ffffff;

		a {
			outline: none;
			display: inline-block;
		}
	}

	&__text {
		position: relative;
		padding-left: 15px;
		padding-bottom: 60px;
		display: table-cell;
		vertical-align: top;
		border-bottom: 1px solid rgba(65, 74, 82, 0.38);

		.btn-gray {
			right: 0;
			bottom: 0;
			position: absolute;
		}
	}
}