
.breadcrumb {
	padding: 5px 0;
	background: #bec4ca;
	margin-bottom: 60px;

	ul {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;

		> li {
			color: #7a828d;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			display: inline-block;

			&:after {
				content: '>';
				padding: 0 5px;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}

			> a {
				color: #7a828d;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}