
.btn-yellow {
	height: 43px;
	padding: 4px 15px;
	color: #f6b600;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	cursor: pointer;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	background: #fff;
	text-transform: uppercase;
	border: 3px solid #f6b600;

	&:before {
		z-index: 1;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		content: '';
		opacity: 0;
		visibility: hidden;
		position: absolute;
		display: inline-block;
		background: url("../img/btn__gradient.png") 100% 0 no-repeat;
	}

	&:after {
		z-index: 2;
		top: 3px;
		left: 3px;
		bottom: 3px;
		content: '';
		opacity: 0;
		width: 60px;
		visibility: hidden;
		position: absolute;
		display: inline-block;
		background: url("../img/btn__gradient_left.png") 100% 0 no-repeat;
	}

	&:hover {
		color: #fff;
		border-color: #f6b600;
		background-color: #f6b600;

		&:after,
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}

	span {
		z-index: 5;
		position: relative;
	}

	&:focus {
		outline: none;
	}


	&.btn-invert {
		color: #fff;
		border-color: #f6b600;
		background-color: #f6b600;

		&:after,
		&:before {
			opacity: 1;
			visibility: visible;
		}

		&:hover {
			color: #f6b600;
			background: #fff;

			&:after,
			&:before {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

.btn-md {
	height: 46px;
	min-width: 205px;
	padding: 7px 15px;
	line-height: 28px;
	border-width: 2px;

	&:before {
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
	}

	&:after {
		top: 2px;
		left: 2px;
		bottom: 2px;
	}
}

.btn-gray {
	z-index: 1;
	min-width: 170px;
	height: 34px;
	padding: 4px 15px 4px 15px;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	background: #bec4ca;
	border: 3px solid #bec4ca;
	text-transform: uppercase;

	&:before {
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		position: absolute;
		display: inline-block;
		background: url("../img/btn__gradient.png") 100% 0 no-repeat;
	}

	&:after {
		z-index: 3;
		top: 0px;
		left: 0px;
		bottom: 0px;
		content: '';
		width: 60px;
		position: absolute;
		display: inline-block;
		background: url("../img/btn__gradient_left.png") 100% 0 no-repeat;
	}

	&:hover {
		color: #fff;
		border-color: #f6b600;
		background-color: #f6b600;

		&:after,
		&:before {
			opacity: 1;
			visibility: visible;
		}

	}

	span {
		z-index: 5;
		position: relative;
	}

	&:focus {
		outline: none;
	}

}