.form-control {
	margin: 0;
	width: 100%;
	color: #ccc;
	outline: none;
	font-size: 30px;
	line-height: 31px;
	padding: 1px 10px 3px 10px;
	display: inline-block;
	background: #414a52;
	vertical-align: middle;
	border: 1px solid #414a52;
	@include placeholder(#ccc);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		color: #ccc;
		@include placeholder(transparent);
	}

	&.error {
		color: #da1308;
		border-color: #da1308;
	}
}

.form-group {
	margin-bottom: 5px;
}